.nav-style {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #a1ffce, #faffd1);
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
}
