$phone: 600px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

.contact-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-gap: 1em; */
  grid-auto-rows: 100px;
  border-top: 5px solid #ffff99;
  border-right: 5px solid #ffff99;
  border-left: 5px solid #ffff99;
  row-gap: 20px;
  @media all and(max-width:$phone) {
    row-gap: 10px;
    // grid-auto-rows: minmax(40px, auto);
    font-size: 14px !important;
  }
  @media all and(max-width:$tablet) {
    row-gap: 10px;
    font-size: 14px !important;
    // grid-auto-rows: minmax(40px, auto);
  }
}
.contact-heading {
  justify-self: center;
  font-family: "Dancing Script", cursive;
  color: white;

  grid-column-start: 1;
  grid-column-end: 3;
}

.contact-heading h1 {
  justify-content: center;

  color: white;
  font-size: 40px;
  border: 5px solid #ffff99;
  padding: 5px !important;
  margin-top: 10px !important;
  border-bottom: 20px solid #ffff99;
}

.contact-main {
  display: grid;
  grid-template-columns: 1fr;
  border: 5px solid #99ffff;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  color: white;
  padding: 10px !important;
  height: 340px;
  border-bottom: 40px solid #99ffff;
  font-size: 20px;
  line-height: 1.8em;

  @media all and(max-width:$phone) {
    grid-template-columns: 1fr;
    row-gap: 10px;
    // grid-auto-rows: minmax(40px, auto);
    font-size: 14px !important;
    width: 95%;
  }
  @media all and(max-width:$tablet) {
    grid-template-columns: 1fr;
    row-gap: 10px;
    // grid-auto-rows: minmax(40px, auto);
  }
}

.form-style {
  justify-self: center;
  justify-items: center;
  justify-content: center;
  position: relative;
  padding: 10px !important;
  width: 90%;
}

.button-style {
  position: absolute;
  left: 30%;
  bottom: 10%;
}

.name-area {
  width: 100%;
}

.message-area {
  width: 100%;
  height: 100px;
  margin-top: 10px !important;
}

.email {
  margin-top: 10px !important;
  width: 100%;
}
