.about-wrapper {
  position: fixed;
  /* min-height: 100%;
  min-width: 100%; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 100px !important;

  z-index: 10;
}

.cardabout {
  width: 70ch;
  height: 70ch;
  background: #bdbdbd;

  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}

@media (max-width: 600px) {
  .cardabout {
    width: 5ch;
    height: 5ch;
    background: grey;

    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
  }
}

.cardabout:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
