.nav-wrapper {
  display: flex;
  position: fixed;
  align-items: flex-start;
  width:100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* padding: 100px !important; */
  
  z-index: 3;

}

.nav-wrapper a {
  display: block;
  text-align: left;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.3s ease border;
  border-bottom: solid 4px transparent;
}

.nav-wrapper a:hover {
  border-bottom: solid 4px teal;
}
